
res/Apps/kafka/*

res/FramesMetadataETL/*

!res/FramesMetadataETL/init

res/FramesMetadataGenObjDetections/*

!res/FramesMetadataGenObjDetections/init

res/FramesMetadataLabelingFrame/*

!res/FramesMetadataLabelingFrame/init

res/FramesMetadataTargetImgClassification/*

!res/FramesMetadataTargetImgClassification/init

logs/*

!logs/init

*.pyc

projects/exp\.py

\.Rhistory
