
res/Apps/kafka/logs/

res/Apps/kafka/bin/kafka-log.txt

res/Apps/kafka/bin/zookeeper-log.txt

res/FramesMetadataETL/*

!res/FramesMetadataETL/init

res/FramesMetadataGenObjDetections/*

!res/FramesMetadataGenObjDetections/init

res/FramesMetadataLabelingFrame/*

!res/FramesMetadataLabelingFrame/init

res/FramesMetadataTargetImgClassification/*

!res/FramesMetadataTargetImgClassification/init

logs/*

!logs/init

logs/FrameLabeling.log

logs/GeneralObjectDetection.log

logs/TargettedObjectDetection.log

*.pyc
