<div class="body-top container-fluid">
    <div class="body-top container">
        <h1>
            About us
        </h1>

        <p>
            We are a team of summer interns working at BrainTrust.
            <br/> We are all Computer Science majors from various colleges with a passion for software development and neural networks.
        </p>

    </div>
</div>

<div class="body-below container-fluid">
    <div class="body-below container">
        <a class="push-around btn btn-outline-light" href="#!/upload"> Back to upload </a>
    </div>
</div>

<div class="body-bottom container-fluid">
    <div class="body-bottom container">

        <div class="card">
            <img src="images/kyleb.jpg" alt="Kyle">
            <h1 class="name"> Kyle Barley </h1>

            <p class="company"> BrainTrust </p>
            <p> Intern </p>
            <div class="about">
                <a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
        
        <div class="card">
            <img src="images/kylec.jpg" alt="Kyle">
            <h1 class="name"> Kyle Clabough </h1>

            <p class="company"> BrainTrust </p>
            <p> Intern </p>
            <div class="about">
                <a href="https://www.linkedin.com/in/kyle-clabough-681a43a1/"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>

        <div class="card">
            <img src="images/matt.png" alt="Matt">
            <h1 class="name"> Matt Stillwell </h1>

            <p class="company"> BrainTrust </p>
            <p> Intern </p>
            <div class="about">
                <a href="https://www.linkedin.com/in/matt-stillwell-926035115/"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
        
        <div class="card">
            <img src="images/michael.png" alt="Michael">
            <h1 class="name"> Michael Odio </h1>

            <p class="company"> BrainTrust </p>
            <p> Intern </p>
            <div class="about">
                <a href="https://www.linkedin.com/in/michael-odio/"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
        
        <div class="card">
            <img src="images/bob.jpg" alt="Bob">
            <h1 class="name"> Bob Kiffney </h1>

            <p class="company"> BrainTrust </p>
            <p> President </p>
            <div class="about">
                <a href="https://www.linkedin.com/in/bobkiffney/"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>

    </div>
</div>