<!doctype html>
<html lang="en">
	<head>
        <link rel="icon" href="../static/all.png" type="image/png" >
    
        <link rel="stylesheet" type="text/css" href="../static/style2.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <title>
			Iris: Object Detection
		</title>
	</head>

	<body>
        
        <div class="topnav">
            <div class="icon">
                <img alt="Iris" src="../static/all.png" width="50" height="50">
            </div>
        
            <a href="home">
                Object Detector
            </a>
            
            <div id="profile">
                <img class="img-circle" alt="Person" src="../static/goose.jpg" width="46" height="46">
            </div>
            
            <div id="question">
                <img class="img-circle" alt="Question" src="../static/question.png" width="30" height="30">
            </div>
            

           
        </div>
        
        
        <div id="leftbox"></div>
        <div id="middlebox"></div>
        <div id="rightbox"></div>
        
        <div id="topbar"></div>
        <div id="videoback"></div>



        <div id="video-player">
			<video width="900" height="400" controls>
				<source src="../static/{{ messages['filename'] }}" type="video/mp4">
                Your browser does not support the video tag
			</video>
        </div>
        
        <div id="filename">
            {{ messages['filename'] }}
        </div>
  

        <div id="jsons">
			<table class="table table-hover">
                <thead>
                    <tr>
                        {% for key in messages['data'][0] %}
                        {% if key == 'frameNum' or key == 'foundTargetWithConfidence' or key == 'ObjectsDetected'%}
                        <th> {{ key }} </th>
                        {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for json in messages['data'] %}
                    <tr>
                        {% for key in messages['data'][0] %}
                        {% if key == 'frameNum' or key == 'foundTargetWithConfidence' or key == 'ObjectsDetected'%}
                        <td> {{ json[key] }} </td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!--
            <ul>
                {% for j in messages['data'] %}
                <li>
                    name: {{ j['name'] }}
                </li>
                {% endfor %}
            </ul> -->
        </div>
        
        
        <div id="bottombar"></div>
        <div id="bottombox"></div>
            
        <div id="footer">
                <a href="http://www.braintrust-us.com">
                    <img border="0" src="../static/braintrust.jpg" width="128" height="17">
                </a>
        </div>

	</body>
</html>
