<!doctype html>
<html lang="en">
    <head>
 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="icon" href="../static/all.png" type="image/png" >
    
        <link rel="stylesheet" type="text/css" href="../static/sublist.css">
        <link rel="stylesheet" type="text/css" href="../static/navagation.css">
        <link rel="stylesheet" type="text/css" href="../static/analyze.css">
        <link rel="stylesheet" type="text/css" href="../static/foot.css">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        <title>
            Azure Video Analyzer
        </title>
    </head>

    <body>
        
        <div class="topnav">
            <div class="icon">
                <img alt="Ava" src="../static/all.png" width="50" height="50">
            </div>
        
            <a href="home">
                Azure Video Analyzer
            </a>
            
            <div id="profile">
                <img class="img-circle" alt="Person" src="../static/goose.jpg" width="46" height="46">
            </div>
            
            <div id="question">
                <img class="img-circle" alt="Question" src="../static/question.png" width="30" height="30">
            </div>
           
        </div>
        
        
        <div id="leftbox"></div>
        <div id="middlebox"></div>
        <div id="rightbox"></div>
        
        <div id="videoback"></div>


        <div id="video-player">
            <video width="900" height="480" controls autoplay>
                <source src="../static/{{ messages['filename'].replace(" ", "_") }}" type="video/{{ messages['filename'].split('.')[1] }}">
                Your browser does not support the video tag
            </video>
        </div>
        
        <div id="filename">
            {{ messages['filename'].split('.')[0] }}
        </div>
        
        
        <div id="rightbox">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#insight" class="tabby"> Insights </a>
                </li>
                <li>
                    <a href="#transcript" class="tabby"> Transcript </a>
                </li>
                <li>
                    <a href="#data" class="tabby"> Data </a>
                </li>
            </ul>
            
            <div id="insight" class="tab-pane fade in active">
                <div id="labels">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th> Objects Detected </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for json in messages['data'] %}
                                <tr>
                                    {% for key in messages['data'][0] %}
                                        {% if key == 'GeneralObjectsDetected'%}
                                            {% for obj in json[key] %}
                                                <td> {{ obj }} </td>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>  
                </div>
            </div>
            
            <div id="transcript" class="tab-pane fade">

                    <div id="pop" class="list-group list-group-root well">
  
                        <a href="#item-1" class="list-group-item" data-toggle="collapse">
                            <i class="glyphicon glyphicon-chevron-right"></i>Item 1
                        </a>
  
                        <div class="list-group collapse" id="item-1">
    
                            <a href="#item-1-1" class="list-group-item" data-toggle="collapse">
                                <i class="glyphicon glyphicon-chevron-right"></i>Item 1.1
                            </a>
                            <div class="list-group collapse" id="item-1-1">
                                <a href="#" class="list-group-item">Item 1.1.1</a>
                                <a href="#" class="list-group-item">Item 1.1.2</a>
                            </div>
    
                            <a href="#item-1-2" class="list-group-item" data-toggle="collapse">
                                <i class="glyphicon glyphicon-chevron-right"></i>Item 1.2
                            </a>
                            <div class="list-group collapse" id="item-1-2">
                                <a href="#" class="list-group-item">Item 1.2.1</a>
                                <a href="#" class="list-group-item">Item 1.2.2</a>
                            </div>
    
                        </div>
                        
                        <a href="#item-2" class="list-group-item" data-toggle="collapse">
                            <i class="glyphicon glyphicon-chevron-right"></i>Item 2
                        </a>
  
                        <div class="list-group collapse" id="item-2">
    
                            <a href="#item-2-1" class="list-group-item" data-toggle="collapse">
                                <i class="glyphicon glyphicon-chevron-right"></i>Item 2.1
                            </a>
                            <div class="list-group collapse" id="item-2-1">
                                <a href="#" class="list-group-item">Item 2.1.1</a>
                                <a href="#" class="list-group-item">Item 2.1.2</a>
                            </div>
    
                            <a href="#item-2-2" class="list-group-item" data-toggle="collapse">
                                <i class="glyphicon glyphicon-chevron-right"></i>Item 1.2
                            </a>
                            <div class="list-group collapse" id="item-1-2">
                                <a href="#" class="list-group-item">Item 2.2.1</a>
                                <a href="#" class="list-group-item">Item 2.2.2</a>
                            </div>
    
                        </div>
                    </div>  
            </div>
            
            <div id="data" class="tab-pane fade">
                <div id="jsons">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                {% for key in messages['data'][0] %}
                                    {% if key == 'frameNum' or key == 'foundTargetWithConfidence' or key == 'GeneralObjectsDetected'%}
                                        <th> {{ key }} </th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for json in messages['data'] %}
                                <tr>
                                    {% for key in messages['data'][0] %}
                                        {% if key == 'frameNum' or key == 'foundTargetWithConfidence' or key == 'GeneralObjectsDetected'%}
                                            <td> {{ json[key] }} </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>  
                </div>
            </div>
            
            
            
        </div>
               
        <div id="topbar"></div>

        
        <div id="bottombar"></div>
        <div id="bottombox"></div>
            
        <div id="footer">
                <a href="http://www.braintrust-us.com">
                    <img border="0" src="../static/braintrust.jpg" width="128" height="17">
                </a>
        </div>
        
        
        <script src="../static/sublist.js"></script>
        <script src="../static/tabclicker.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        
    </body>
</html>
