<!doctype html>
<html lang="en">
	<head>
        <!-- <link rel="icon" href="../static/coffee.gif" type="image/gif" sizes="128x128"> -->
        <link rel="icon" href="../static/france.png" type="image/png" >
    
        <link rel="stylesheet" type="text/css" href="../static/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        
        <title>
			French Flag Detector
		</title>
	</head>

	<body> <!-- background="../static/back.jpg" -->
        
        <div class="topnav">
            <a class="active" id="tab" href="#home">
                Home
            </a>
            <a href="#about">
                About
            </a>
            <a href="#contact">
                Contact
            </a>
            
            <div class="search-container">
                <form action="/action_page.php">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit">
                        <i class="fa fa-search">
                        </i>
                    </button>
                </form>
            </div>
        </div>
        
        <div id="topbar"></div>
        
        <div id="bodytop"></div>
        <div id="bodypop"></div>
        <div id="bodypop2"></div>
        

		<div id="title">
            French Flag Detector 
        </div>
        
        <div id="para">
	        <p>
				This project will analyze videos for any occurances of 
				the french flag. 
				<br/>
				 It will provide confidence levels of 
				identification certainty and number of occurances within 
				the video.
				<br/>
				<br/>
                Please select Browse to choose the video you would like anlazyed,
                and then select Upload to begin:
            </p>
        </div>
        <!--  Hello, our names are Kyle Clabough, Michael Odio, Kyle Barley
                and Matt Stillwell.-->
        
            
            <form method=post enctype=multipart/form-data>
                <input type="file" name="file" id="file" class="inputfile" accept="video/*" />
                <label for="file" class="button" id="browse-button"> Browse </label>
                <p id="fname">  </p>
                <input type=submit value=Upload class="button" id="upload-button">
            </form>
            
            <script src="../static/filenamecutter.js"></script>

        <div id="blackimgbox"></div>
        <div class="image" id="french-flag">
            <img alt="Flag" src="../static/french-flag.jpg" width="229" height="154">
        </div>
        
        <div id="bottombar"></div>
        <div id="bottombox"></div>
            
        <div id="footer">
                <a href="http://www.braintrust-us.com">
                    <img border="0" src="../static/braintrust.jpg" width="128" height="17">
                </a>
        </div>

	</body>
</html>
