<!doctype html>
<html lang="en">
	<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" href="../static/all.png" type="image/png" >
    
        <link rel="stylesheet" type="text/css" href="../static/navagation.css">
        <link rel="stylesheet" type="text/css" href="../static/home.css">
        <link rel="stylesheet" type="text/css" href="../static/foot.css">        

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        
        <title>
			Azure Video Analyzer
		</title>
	</head>

	<body> <!-- background="../static/back.jpg" -->
        
       <div class="topnav">
            <div class="icon">
                <img alt="Ava" src="../static/all.png" width="50" height="50">
            </div>
        
            <a href="home">
                Azure Video Analyzer
            </a>
            
            <div id="profile">
                <img class="img-circle" alt="Person" src="../static/goose.jpg" width="46" height="46">
            </div>
            
            <div id="question">
                <img class="img-circle" alt="Question" src="../static/question.png" width="30" height="30">
            </div>
           
        </div>
        
        <div id="topbar"></div>
        
        <div id="bodytop"></div>
        <div id="bodypop"></div>
        <div id="bodypop2"></div>
        

		<div id="title">
            Azure Video Analyzer 
        </div>
        
        <div id="para">
	        <p>
				This project will analyze videos for any occurances of 
				the french flag. 
				<br/>
				 It will provide confidence levels of 
				identification certainty and number of occurances within 
				the video.
				<br/>
				<br/>
                Please select Browse to choose the video you would like anlazyed,
                and then select Upload to begin:
            </p>
        </div>
        
            
        <form method=post enctype=multipart/form-data>
            <input type="file" name="file" id="file" class="inputfile" accept="video/*" />
            <label for="file" class="button" id="browse-button"> Browse </label>
            <p id="fname">  </p>
            <input type=submit value=Upload class="button" name="upload-button" id="upload-button" onclick="startProgress()">
        </form>
		
                
        <div id="bottombar"></div>
        <div id="bottombox"></div>
            
        <div id="footer">
                <a href="http://www.braintrust-us.com">
                    <img border="0" src="../static/braintrust.jpg" width="128" height="17">
                </a>
        </div>
		
		
        <script src="../static/filenamecutter.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		
    </body>
</html>
