<!doctype html>
<html lang="en">
	<head>
		<title>
			Iris
		</title>
	</head>

	<body background="/res/background.jpg">
    
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	
		<h1 align="center">
            <u>
                French Flag Detector 
            </u>
        </h1>
	
        <div id="uploader">
            <h1>
                Upload new File
            </h1>
            <form method=post enctype=multipart/form-data>
                <input type=file name=file>
                <input type=submit value=Upload>
            </form>
		</div>
        
        <div class="image" id="french-flag">
            <img alt="Flag" width="225" height="150" src="/res/french-flag.jpg" border="3">
        </div>
        
        <div id="video-player">
			<video width="320" height="240" controls>
				<source src="/res/bunny.mp4" type="video/mp4">
                Your browser does not support the video tag
			</video>
        </div>
	
        <div id="footer">
            <p>
                Hello, our names are Kyle Clabough, Michael Odio, Kyle Barley
                and Matt Stillwell.
            </p>
	
            <p>
                <a href="http://www.braintrust-us.edu">
                    <img border="0" src="/res/braintrust.jpg" width="256" height="33">
                </a>
            </p>
        </div>

	</body>
</html>
