:root {
    --body-color: rgb(80, 80, 80);
    --body-pop-color: rgb(150, 150, 150);
    --body-pop2-color: rgb(190, 190, 190);
}

#topbar {
    background-color: var(--top-bar-color);
    position: absolute;
    left: 0px;
    top: 48px;
    width: 100%;
    height: 5px;
}

#bodytop {
    background-color: var(--body-color);
    position: absolute;
    left: 0px;
    top: 53px;
    width: 100%;
    height: 40%;
}

#bodypop {
    background-color: var(--body-pop-color);
    position: absolute;
    left: 0px;
    top: 275px;
    width: 100%;
    height: 55%;
}

#bodypop2 {
    background-color: var(--body-pop2-color);
    position: absolute;
    left: 0px;
    top: 375px;
    width: 100%;
    height: 60%;
}

#progressbox {
    position: absolute;
    left: 150px;
    top: 420px;
    width: 80%;
    height: 10%;
}

#title {
    color: rgb(0, 195, 195);
    text-align: center;
    text-decoration: normal;
    font-weight: normal;
    font-size: 30px;
    
    position: absolute;
    left: 150px;
    top: 110px;
}

#para {
    color: lightgray;
    text-align: left;
    text-decoration: normal;
    font-weight: normal;
    font-size: 15px;
    
    position: absolute;
    left: 150px;
    top: 155px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label,
#upload-button {
    font-size: 1.00;
    font-weight: 700;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover,
#upload-button:focus,
#upload-button:hover {
    background-color: darkgray;
}

.inputfile + label,
#upload-button {
	cursor: pointer; /* "hand" cursor */
}

.button {
    font: normal 15px Arial;
    text-decoration: none;
    background-color: var(--body-pop-color);
    color: #333333;
    padding: 4px 12px 4px 12px;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
}

#browse-button {
    position: absolute;
    left: 150px;
    top: 300px;
}

#upload-button {
    position: absolute;
    left: 250px;
    top: 300px;
}

#fname {
    text-align: center;
    color: #333333;
    position: absolute;
    left: 342px;
    top: 302px;
}

#uploader {
    background-color:lightseagreen;
    padding: 10px 20px 20px 30px;
    border-style: solid;
                
    border-color:#000;
    text-align: center;
    position: absolute;
    left: 180px;
    top: 210px;
    
    width: 280px;
    height: 160px;
}
  
.image {
    position: absolute;
}
 
#french-flag {
    right: 250px;
    top: 90px;
}

#blackimgbox {
    background-color:black;
    position: absolute;
    right: 247px;
    top: 87px;
    width: 235px;
    height: 160px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--body-color)
}
