:root {
    --top-bar-color: black;
    --body-color: rgb(80, 80, 80);
    --body-pop-color: rgb(150, 150, 150);
    --body-pop2-color: rgb(190, 190, 190);

    --bottom-bar-color: rgb(102, 102, 255);
    --footer-color: white;
}

#topbar {
    background-color: var(--top-bar-color);
    position: absolute;
    left: 0px;
    top: 48px;
    width: 100%;
    height: 5px;
}

#bodytop {
    background-color: var(--body-color);
    position: absolute;
    left: 0px;
    top: 53px;
    width: 100%;
    height: 40%;
}

#bodypop {
    background-color: var(--body-pop-color);
    position: absolute;
    left: 0px;
    top: 275px;
    width: 100%;
    height: 55%;
}

#bodypop2 {
    background-color: var(--body-pop2-color);
    position: absolute;
    left: 0px;
    top: 375px;
    width: 100%;
    height: 60%;
}

#bottombar {
    background-color: var(--bottom-bar-color);
    position: absolute;
    left: 0px;
    bottom: 35px;
    width: 100%;
    height: 5px;
}

#bottombox {
    background-color: var(--footer-color);
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 35px;
}

#title {
    color: rgb(0, 195, 195);
    text-align: center;
    text-decoration: normal;
    font-weight: normal;
    font-size: 30px;
    
    position: absolute;
    left: 150px;
    top: 110px;
}

#para {
    color: lightgray;
    text-align: left;
    text-decoration: normal;
    font-weight: normal;
    font-size: 15px;
    
    position: absolute;
    left: 150px;
    top: 155px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label,
#upload-button {
    font-size: 1.00;
    font-weight: 700;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover,
#upload-button:focus,
#upload-button:hover {
    background-color: darkgray;
}

.inputfile + label,
#upload-button {
	cursor: pointer; /* "hand" cursor */
}

.button {
    font: normal 15px Arial;
    text-decoration: none;
    background-color: var(--body-pop-color);
    color: #333333;
    padding: 4px 12px 4px 12px;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
}

#browse-button {
    position: absolute;
    left: 150px;
    top: 300px;
}

#upload-button {
    position: absolute;
    left: 250px;
    top: 300px;
}

#fname {
    text-align: center;
    color: #333333;
    position: absolute;
    left: 340px;
    top: 290px;
}

#uploader {
    background-color:lightseagreen;
    padding: 10px 20px 20px 30px;
    border-style: solid;
                
    border-color:#000;
    text-align: center;
    position: absolute;
    left: 180px;
    top: 210px;
    
    width: 280px;
    height: 160px;
}
            
#video-player {
    text-align: center;
    position: absolute;
    left: 50px;
    top: 85px;
}
            
.image {
    position: absolute;
}
            
#french-flag {
    right: 250px;
    top: 90px;
}

#blackimgbox {
    background-color:black;
    position: absolute;
    right: 247px;
    top: 87px;
    width: 235px;
    height: 160px;
}
            
#footer {
    text-align: center;
    position: absolute;
    left: 45%;
    bottom: 3px;
}






* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--body-color)
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
